<nav class="" >
  <div class="menu">
    <a href="/">
      <img src="/assets/img/cat.png" alt="">
    </a>
  
      <ul class="content-navbar">
        <li class="nav-item">
          <!-- Button trigger modal -->
          <a href="/" type="button" class="btn btn-dark">
            Logout
          </a>
          {{!-- <a class="nav-link active" aria-current="page" href="/login">Login</a> --}}
        </li>
      </ul>
  </div>
</nav>